<script type='text/javascript'>
  $(function() {
    Dashing.widget_base_dimensions = [370, 340]
    Dashing.numColumns = 5
  });
</script>

<% content_for :title do %>Kaitelligence<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="G7VJSALKBF" data-view="Babbler_temp" data-widget_title="G7VJSALKBF"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GBKBTZBNNN" data-view="Babbler_temp" data-widget_title="GBKBTZBNNN"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GLWSMK7AHI" data-view="Babbler_temp" data-widget_title="GLWSMK7AHI"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GMDHXRORLU" data-view="Babbler_temp" data-widget_title="GMDHXRORLU"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="H72N553G7I" data-view="Babbler_temp" data-widget_title="H72N553G7I"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="G7VJSALKBF" data-view="Babbler_seal" data-widget_title="G7VJSALKBF"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GBKBTZBNNN" data-view="Babbler_seal" data-widget_title="GBKBTZBNNN"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GLWSMK7AHI" data-view="Babbler_seal" data-widget_title="GLWSMK7AHI"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GMDHXRORLU" data-view="Babbler_seal" data-widget_title="GMDHXRORLU"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="H72N553G7I" data-view="Babbler_seal" data-widget_title="H72N553G7I"></div>
    </li>



    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="G7VJSALKBF" data-view="Babbler_location" data-widget_title="G7VJSALKBF"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GBKBTZBNNN" data-view="Babbler_location" data-widget_title="GBKBTZBNNN"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GLWSMK7AHI" data-view="Babbler_location" data-widget_title="GLWSMK7AHI"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GMDHXRORLU" data-view="Babbler_location" data-widget_title="GMDHXRORLU"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="H72N553G7I" data-view="Babbler_location" data-widget_title="H72N553G7I"></div>
    </li>










  </ul>

</div>
