<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>


<% content_for :title do %>Department 318<% end %>
<div class="gridster">
  <ul>
    
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="eumap" data-view="Eumap" data-title="Active Tracked Shipments" style="background-color:#96d2dd"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="sense" data-moreinfo="Dossier 123456" data-renderer="area" style="background-color:#33B8AF" data-colors="#347f54" data-view="Rickshawgraph" data-title="Sense"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dept318_co2" data-view="Number" data-title="CO₂ Saved" data-moreinfo="In Kg"></div>
      <i class="icon-heart icon-background"></i>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dept318_forecast" data-view="Forecast" data-widget_title="Kai Weather"></div>
    </li>
    
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="modalities" data-renderer="bar" data-summary-method="sum" style="background-color:#33B8AF" data-colors="#347f54" data-view="Rickshawgraph" data-title="Modality History"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-moreinfo="% Multimodal" data-title="Shipments in Progress" data-min="0" data-max="100"></div>
      <i class="icon-globe icon-background"></i>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-moreinfo="% Multimodal" data-title="Shipments Planned" data-min="0" data-max="200"></div>
      <i class="icon-calendar icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="modalities" data-renderer="area" data-summary-method="sum" style="background-color:#33B8AF" data-colors="#347f54" data-view="Rickshawgraph" data-title="Shipment History"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="KPI History" data-moreinfo="Disruption overview"></div>
    </li>

    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="Disruption History" data-moreinfo="Disruption overview per Source"></div>
    </li> -->

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="doughnutchart" data-view ="DoughnutChart" data-title="Disruption causes" data-moreinfo=""></div>
      <i class="icon-bell icon-background"></i>
      
    </li>


  </ul>
</div>
