<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [370, 340]
        Dashing.numColumns = 5
    });
</script>

<% content_for :title do %>Kaitelligence<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="time_since_last" data-view="TimeSinceLast" data-title="ESB Heartbeat" data-red-after="1200"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ecom" data-view="Hotness" data-title="ecom" data-cool="0" data-warm="1"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kewilltickets" data-view="Hotness" data-title="Kewill Tickets" data-cool="10" data-warm="15"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bltickets" data-view="Hotness" data-title="Brand Loyalty Tickets" data-cool="5" data-warm="15"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tickets" data-view="Hotness" data-title="Tickets in Raw" data-cool="0" data-warm="2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bookings" data-view="Hotness" data-title="Booking Portal" data-cool="0" data-warm="1"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="booking-history" data-renderer="bar" data-summary-method="sum" style="background-color:#33B8AF" data-colors="#347f54" data-view="Rickshawgraph" data-title="Last week in Bookings!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Countdown" data-title="Maintenance Weekend" data-end="18-nov-2016 20:00:00"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="incremental_etl" data-view="Wordness" data-title="Incremental ETL" data-cool="0" data-warm="1"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-widget_title="Kai Weather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#1286be;" data-moreinfo="Tweets for #SeaconLogistics"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="it_temp" data-view="Hotness" data-title="IT Temperature" data-cool="20" data-warm="24"></div>
    </li>
  </ul>
</div>
