<script type='text/javascript'>
$(function() {
	Dashing.widget_base_dimensions = [462, 340]
    Dashing.numColumns = 4
});
</script>

<% content_for :title do %>Kaitelligence<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kewilltickets" data-view="Hotness" data-title="Kewill Tickets" data-cool="10" data-warm="15"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bltickets" data-view="Hotness" data-title="Brand Loyalty Tickets" data-cool="5" data-warm="15"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tickets" data-view="Hotness" data-title="Tickets in Raw" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="it_temp" data-view="Hotness" data-title="IT Temperature" data-cool="20" data-warm="24"></div>
    </li>
        
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ecom" data-view="Hotness" data-title="ecom" data-cool="0" data-warm="1"></div>
    </li>
    
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Countdown" data-title="Maintenance Weekend" data-end="20-mar-2015 20:00:00"></div>
	</li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bitcoin" data-view="Hotness" data-title="Bitcoins" data-cool="500" data-warm="1000"></div>
    </li>
    
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#1286be;" data-moreinfo="Tweets for #SeaconLogistics"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Weather" data-view="Weather"></div>
    </li>

  </ul>
</div>