<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":2,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":5,"row":3,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":5,"row":2,"size_x":1,"size_y":1}]')
});
</script>

<% content_for :title do %>Kaitelligence<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="it_temp" data-view="Hotness" data-title="IT Temperature" data-cool="20" data-warm="24"></div>
    </li>
        
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" style="background-color:#12A5C3;" data-title="Hello" data-text="This is your shiny new Kaitelligence dashboard." ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tickets" data-view="Hotness" data-title="Tickets in Raw" data-cool="0" data-warm="2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presence" data-view="Coolness" data-title="IT Staff" data-cool="10" data-warm="4"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bitcoin" data-view="Hotness" data-title="Bitcoins" data-cool="500" data-warm="1000"></div>
    </li>

    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="fblinkstat" data-view="List" data-unordered="true" data-title="FB link stats" data-moreinfo="for http://fb.me/seaconlogistics"></div>
    <i class="icon-facebook icon-background"></i>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="kewilltickets" data-view="Hotness" data-title="Kewill Tickets" data-cool="10" data-warm="15"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="bltickets" data-view="Hotness" data-title="Brand Loyalty Tickets" data-cool="5" data-warm="15"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#1286be;" data-moreinfo="Tweets for #SeaconLogistics"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="foursquare" data-view="Foursquare"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="calendar_events" data-pre="0" data-view="Calendar"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="calendar_events" data-pre="1"  data-view="Calendar"></div>
    </li>
    

  </ul>
</div>